.test-box--expected {
    position: relative;
}

.expected {
    display: block;
    position: absolute;
    stroke: orange;
    stroke-width: 4px;
    fill: none;
}
.expected--square-default {
    left: -4px;
    top: -4px;
}