{% extends "layouts/main-layout.njk" %}

{% block content %}
<ul>
    <li><a href="/300x300">A 300x300 box</a></li>
    <li><a href="/400x250">A 400x250 box</a></li>
</ul>
{% endblock content %}