{% extends "layouts/main-layout.njk" %}

{% block content %}

<h2>Test pages</h2>
<ul>
    <li><a href="/300x300">300x300 box</a></li>
    <li><a href="/400x250">400x250 box</a></li>
</ul>

<h2>Expected</h2>
<ul> Square
    <li><a href="/expected/square/300x300-default">300x300 box defaults</a></li>
    <li><a href="/expected/square/400x250-default">400x250 box defaults</a></li>
    <li><a href="/expected/square/300x300-padding-option">300x300 box padding option</a></li>
    <li><a href="/expected/square/400x250-padding-option">400x250 box padding option</a></li>
    <li><a href="/expected/square/300x300-stroke-width-color-options">300x300 box strokeWidth & color options</a></li>
    <li><a href="/expected/square/400x250-stroke-width-color-options">400x250 box strokeWidth & color options</a></li>
</ul>
<ul> Round
    <li><a href="/expected/round/300x300-default">300x300 box defaults</a></li>
    <li><a href="/expected/round/400x250-default">400x250 box defaults</a></li>
    <li><a href="/expected/round/300x300-stroke-width-color-options">300x300 box strokeWidth & color options</a></li>
    <li><a href="/expected/round/400x250-stroke-width-color-options">400x250 box strokeWidth & color options</a></li>
</ul>
{% endblock content %}