{% extends "layouts/main-layout.njk" %}
{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="/expected.css">
    <style>
        .test-box.test-box--expected {
            border: 8px solid limegreen;
        }
    </style>
{% endblock css %}

{% block subtitle %}A 400x250 box{% endblock subtitle %}

{% block content %}
    <div class="test-box test-box--400x250 test-box--expected"></div>
{% endblock content %}