{% extends "layouts/main-layout.njk" %}
{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="/expected.css">
    <style>
        .test-box.test-box--expected {
            position: relative;
        }
        .test-box.test-box--expected svg {
            stroke: orange;
            stroke-width: 4px;
            position: absolute;
            fill: none;
        }
    </style>
{% endblock css %}

{% block content %}
    <div class="test-box test-box--400x250 test-box--expected">
        <svg width="570" height="358" style="left: -85px; top: -53.875px;">
            <ellipse cx="285" cy="179" rx="283" ry="177"></ellipse>
        </svg>
    </div>
{% endblock content %}



