{% extends "layouts/main-layout.njk" %}
{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="/expected.css">
    <style>
        .test-box.test-box--expected {
            position: relative;
        }
        .test-box.test-box--expected svg {
            stroke: limegreen;
            stroke-width: 8px;
            position: absolute;
            fill: none;
        }
    </style>
{% endblock css %}

{% block subtitle %}A 400x250 box{% endblock subtitle %}

{% block content %}
    <div class="test-box test-box--400x250 test-box--expected">
        <svg width="574" height="362" style="left: -87px; top: -55.875px;">
            <ellipse cx="287" cy="181" rx="283" ry="177"></ellipse>
        </svg>
    </div>
{% endblock content %}



