<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <link rel="stylesheet" href="/src/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PointItOut.js test page</title>
  <script>console.log('PRUEBA')</script>
  <script type="module">
    import * as pio from "/src/main"
    window.pio = pio
  </script>

  {% block css %}
  <link rel="stylesheet" href="/test-styles.css">
  {% endblock css %}
</head>

<body class="visual-test">
    <header>
      <h1>Point it out test page</h1>
      <p class="subtitle">{% block subtitle %}{% endblock subtitle %}</p>
    </header>
    {% block content %}
    {% endblock content %}
</body>
</html>