{% extends "layouts/main-layout.njk" %}
{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="/expected.css">
    <style>
        #mock {
            border: 4px solid orange;
            box-sizing: content-box;
            position: absolute;
            padding: 16px;
            left: -20px;
            top: -20px;
            width: 100%;
            height: 100%
        }
    </style>
{% endblock css %}

{% block content %}
    <div class="test-box test-box--300x300 test-box--expected">
        <div id="mock"></div>
    </div>
{% endblock content %}